apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: website
  name: website
spec:
  replicas: 3
  selector:
    matchLabels:
      app: website
  template:
    metadata:
      labels:
        app: website
    spec:
      containers:
      - image: sumi2058/website:v2.0
        name: website
        ports:
          - containerPort: 80
            name: http
            protocol: TCP